.word-row{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    margin: .5rem;
}

.shake-active{
    animation: shake .3s ease 1;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25%{
        transform: translateX(.5rem);
    }
    75%{
        transform: translateX(-.5rem);
    }
    100%{
        transform: translateX(0);
    }
}